* {
    padding: 0%;
    margin: 0%;
}

#div1 {
    position: relative;
    border: 1px solid rgb(232, 185, 185);
    width: 100%;
    height: 90px;
    background-color: white;
}

#img1 {
    position: absolute;
    left: 190px;
    top: 6px;
    width: 300px;
}

#p1 {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    position: absolute;
    left: 580px;
    font-size: 30px;
    top: 30px;
    color: red;
}

#a1:hover {
    border-bottom: 2px solid red;
}

#a2:hover {
    border-bottom: 2px solid red;
}

#whtsap {
    margin-left: 85%;
    font-size: 35px;
    margin-top: 20px;
    color: black;
}

#p3 {
    position: absolute;
    margin-left: 90%;
    font-size: 20px;
    bottom: 8px;
}

@media(max-width:415px) {
    #div1 {
        position: relative;
        width: 100%;
        height: 170px;
    }

    #p1 {
        position: absolute;
        font-size: 20px;
        left: 60px;
        top: 90px;
        color: black;
    }

    #p3 {
        display: none;
    }

    #whtsap {
        display: none;
    }

    #img1 {
        position: absolute;
        left: 45px;
        width: 300px;
    }

    #a1 {
        visibility: hidden;
    }

    #nav2 {
        visibility: visible;
        position: absolute;
        top: 112px;
        left: 90px;
        background-color: white;
    }


    #img2 {
        display: none;
    }

    #div4 {
        display: none;
    }
}

#nav1 a {
    position: relative;
    font-size: 15px;
    left: 150px;
    color: white;
}

nav a:hover {
    color: red;
}

#drop li :hover {
    border-bottom: red solid;
}

#li1 {
    position: absolute;
    left: 70%;
}

#drop {
    position: absolute;
    background-color: rgba(174, 186, 186, 0);
}


/**next image**/
#img2 {
    position: relative;
    width: 100%;
    height: 450px;
}

#nev3 {
    position: absolute;
    top: 200px;
}

#div4 {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 500px;
    height: 140px;
    left: 150px;
    top: 400px;
    background-color: rgba(0, 0, 0, 0.577);
}

#p4 {
    margin-left: 80px;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

#text {
    margin-left: 70px;
    width: 300px;
    height: 30px;
    margin-top: 10px;
}

#button {
    background-color: chocolate;
    color: white;
}

/**next div5 **/


#div5 {
    position: relative;
    top: 120px;
    width: 80%;
    left: 120px;
}

#div6 {
    position: relative;
    left: 20px;
}

#div7 {
    position: relative;
    left: 40px;
}

#today {
    position: absolute;
    font-size: 40px;
    top: 650px;
    left: 110px;
}

#butt {
    margin-left: 80px;
    background-color: rgba(151, 66, 5, 0.786);
    color: white;
    border-color: aliceblue;
    width: 150px;
    height: 40px;
}

#butt:hover {
    background-color: rgb(255, 106, 0);
}

@media(max-width:415px) {
    #div5 {
        position: relative;
        left: 10px;
    }

    #div6 {
        position: relative;
        left: 10px;
    }

    #div7 {
        position: relative;
        left: 10px;
    }

    #today {
        display: none;
    }

    #div8 {
        display: none;
    }
}

#div8 {
    position: relative;
    border: 1px solid black;
    width: 90%;
    height: 70px;
    background-color: blue;
    top: 170px;
    left: 58px;
}

#abb {
    position: absolute;
    color: white;
    font-size: 20px;
    left: 150px;
    top: 20px;
}

#font1 {
    font-size: 55px;
    margin-left: 70%;
    margin-top: 10px;
}

#img4 {
    position: relative;
    top: 270px;
    left: 70px;
}

#boot {
    position: relative;
    width: 25%;
    left: 470px;
    height: 500px;
    bottom: 330px;
}

#baot {
    position: relative;
    width: 25%;
    left: 880px;
    height: 500px;
    bottom: 830px;
}

#text {
    font-size: 15px;
    margin-right: 10;
}

#text2 {
    position: absolute;
    width: 300px;
    top: 165px;
    right: 180px;
}

#price {
    margin-left: 220px;
    color: rgb(250, 52, 52);
}

#priceon {
    font-size: 13px;
    margin-left: 160px;
    color: rgb(237, 62, 62);
}

#price2 {
    font-size: 16px;
    margin-left: 200px;
    color: rgb(237, 62, 62);
}

#button2 {
    position: absolute;
    top: 300px;
    border-color: azure;
    left: 170px;
    width: 240px;
    color: white;
    background-color: rgb(235, 110, 20);
}

#imgeabb {
    position: absolute;
    width: 550px;
    top: 175px;
    left: 1px;
}

#text9 {
    font-size: 15px;
}

#p16 {
    margin-left: 250px;
    color: rgb(230, 32, 32);
}

#p17 {
    margin-left: 250px;
    color: rgb(230, 32, 32);
}

#p18 {
    margin-left: 250px;
    color: rgb(230, 32, 32);
}

#on {
    position: absolute;
    left: 80px;
    width: 240px;
    border-color: rgb(211, 194, 194);
    color: white;
    bottom: 2px;
    background-color: rgb(235, 110, 20);
}

/**holi**/
#holi {
    position: absolute;
    font-size: 40px;
    top: 1360px;
    left: 60px;
    color: rgba(0, 0, 0, 0.557);
}

#holi1 {
    position: absolute;
    color: rgba(0, 0, 0, 0.531);
    font-size: 38px;
    left: 470px;
    top: 1360px;
}

#holi2 {
    position: absolute;
    color: rgba(0, 0, 0, 0.531);
    font-size: 38px;
    top: 1360px;
    left: 870px
}

@media(max-width:415px) {
    #boot {
        display: none;
    }

    #baot {
        display: none;
    }

    #holi1 {
        display: none;
    }

    #holi2 {
        display: none;
    }

    #holi {
        margin-top: 240px;
        font-size: 30px;
        left: 10px;
    }

    #img4 {
        position: relative;
        left: 10px;
        width: 80%;
    }

}

#group {
    position: relative;
    width: 83%;
    left: 95px;
    bottom: 550px;
    right: 100px;
}

#line {
    position: relative;
    width: 83%;
    left: 90px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.561);
    bottom: 670px;
}

#card {
    margin-left: 20px;
}

#card2 {
    margin-left: 20px;
    height: 460px;
}

#moni {
    margin-left: 220px;
    color: red;
    font-size: 18px;
}

#moni2 {
    margin-left: 220px;
    color: red;
    font-size: 18px;
}

#moni3 {
    margin-left: 220px;
    color: red;
    font-size: 16px;
}

#pic {
    margin-left: 220px;
    color: red;
    font-size: 17px;
}

#pic2 {
    margin-left: 220px;
    color: red;
    font-size: 17px;
}

#pic3 {
    margin-left: 220px;
    color: red;
    font-size: 17px;
}

#pic4 {
    margin-left: 220px;
    color: red;
    font-size: 20px;
}

#kha {
    position: absolute;
    bottom: 400px;
    top: 2140px;
    font-size: 40px;
    left: 90px;
    color: rgba(0, 0, 0, 0.625);
}

#kha1 {
    position: absolute;
    bottom: 400px;
    top: 2140px;
    font-size: 40px;
    left: 530px;
    color: rgba(0, 0, 0, 0.625);
}

#kha2 {
    position: absolute;
    top: 2140px;
    font-size: 40px;
    left: 990px;
    color: rgba(0, 0, 0, 0.625);
}

@media(max-width:415px) {
    #kha {
        margin-left: 10px;
        font-size: 30px;
        margin-top: 120px;
        left: 10px;
    }

    #line {
        display: none;
    }

    #kha1 {
        display: none;
    }

    #kha2 {
        display: none;
    }

    #group {
        position: relative;
        top: 350px;
        left: 10px;
    }

    #card {
        margin-top: 70px;
        margin-left: 6px;
    }
}

#linelast {
    position: relative;
    width: 83%;
    left: 90px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.561);
    bottom: 520px;
}

#ato {
    position: absolute;
    top: 2940px;
    font-size: 40px;

    left: 80px;
}

#arto1 {
    position: absolute;
    top: 3000px;
    font-size: 30px;
    left: 80px;
}

#zero {
    position: relative;
    border: 1px solid rgb(184, 167, 167);
    max-width: 100%;
    height: 200px;
    bottom: 350px;
    background-color: rgb(137, 173, 182);
}

.container5 {
    position: absolute;
    display: flex;
    left: 40px;
}

.container5 a {
    margin-left: 30px;
    color: black;
    width: 190px;
    height: 180px;
    margin-top: 40px;
}




#schol {
    position: relative;
    border: 1px solid rgb(184, 167, 167);
    max-width: 100%;
    height: 500px;
    top: 185px;
    display: flex;
    background-color: rgb(101, 44, 233);
}

.footer1c {
    margin-left: 60px;
    font-size: 20px;
    margin-top: 50px;
    color: white;text-align: center;
}

.footer {
    margin-left: 200px;
    margin-top: 50px;
    color: white;text-align: center;
}

.fo {text-align: center;
    margin-left: 150px;
    color: white;
    margin-top: 40px;
}

li {
    list-style: none;
}

#ram{
position: relative;
border: 1px solid rgb(184, 167, 167);
max-width: 100%;height: 120px;
top: 180px;background-color: chocolate;
}
#footer23{
    position: absolute;
}

.footer1m{position: absolute;
    margin-left: 900px;bottom: 40px;
}
#nishu{position: relative;
    position: relative;
    border: 1px solid rgb(184, 167, 167);
    max-width: 100%;
    height: 140px;
top: 180px;background-color: antiquewhite;

}
.container{position: absolute;
display: flex;font-size: 15px;left: 80px;
}
#foi{position: absolute;top: 110px;left: 450px;}














@media(max-width:415px) {
    #zero {
        position: relative;
        max-width: 100%;
        height: 400px;
        top: 550px;
    }

    .container5 {
        position: absolute;
        display: inline-block;

    }

    .container5 a {
        color: black;
        width: 30px;
        display: inline-block;
        height: 30px;
    }

    #ato {
        margin-top: 1400px;
        font-size: 30px;
    }

    #arto1 {
        margin-top: 1420px;
        font-size: 25px;
    }
   #linelast{display: none;}
     #medi{ position:absolute;font-size: 10px;right: 200px;top:  0px;
    }
    .footer1m{display: none;}
#foi{position: absolute;font-size: 10px;left: 20px;}
.recognizedby{display: none;}
.rewardsby{display: none;}
.membersof{display: none;}
.weaccept{display: none;}
.fo {display: none;}
.footer1samesizeul{display: none;}
.footer {display: none;}
}